<!DOCTYPE html>
<html lang="en">
<head>
    <header style="margin-top: -40px;">
    <header style="margin-left: 25px;">
    <header style="margin-right: 25px;">
    <meta charset="UTF-8">
    <title>CS109 Final Project</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <!-- <script src="navigation.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <h1>CS109a Final Project: Spotify Playlist Analysis</h1>
    <h2>Group 31: Michelle Chiang, David Seong, Emily Chen</h2>
    <h2>December 7, 2017</h2>
</head>
<body>

<ul class="nav nav-tabs" id="my-tabs">
  <li class=""><a href="/" data-toggle="tab" aria-expanded="false">Introduction</a></li>
  <li class="active"><a href="/model" data-toggle="tab" aria-expanded="true">Model</a></li>
  <li class=""><a href="/results" data-toggle="tab" aria-expanded="false">Results</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <h2><b>Modeling Approach and Project Trajectory</b></h2>
  <p>Full project jupyter notebook can be found here: <a href="https://github.com/michelle-chiang/CS109-Final-Project/blob/master/FILES%20FOR%20SUBMISSION/cs109a_final_project_models.ipynb">cs109a_final_project_models.ipynb</a></p>
	<p>hello</p>
  
</div>



</body>
</html>