<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node Sample App</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <!-- <script src="navigation.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <h1>CS109a Final Project: Spotify Playlist Analysis</h1>
    <h2>Group 31: Michelle Chiang, David Seong, Emily Chen</h2>
    <h2>December 7, 2017</h2>
</head>
<body>

<ul class="nav nav-tabs" id="my-tabs">
  <li class=""><a href="/" data-toggle="tab" aria-expanded="false">Introduction</a></li>
  <li class=""><a href="/model" data-toggle="tab" aria-expanded="false">Model</a></li>
  <li class="active"><a href="/results" data-toggle="tab" aria-expanded="true">Results</a></li>
</ul>
  <h2>Results and Conclusions</h2>
	<p>hello</p>
  <h2>Recommendation System</h2>
  <p>hello</p>
  <h2>Modeling Approach and Project Trajectory</h2>
  <p>hello</p>




</body>
</html>