.head {
	margin: 2rem;
}

.head h1 {
    color: #00CC66;
}

body { 
	padding-top: 50px; 
	font-size: 18px;
}

table { 
	font-size: 14px;
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
	padding: 30px 0 5px 0;
}

a {
    color: #00CC66;
}

p {
	font-size: 16px;
}

.container .jumbotron { 
	border-radius:40px; 
}

.tab-content {
	margin: 0 3rem 10rem;
}

.EDA_container {
	margin: 0 10rem 5rem;
}

.EDA_container p {
	text-align: center;
}